<header class="site-header">
  <button class="toggle_menu">
    <span class="sandwich">
      <span class="sw-topper"></span>
      <span class="sw-bottom"></span>
      <span class="sw-footer"></span>
    </span>
  </button>
  <nav class="top_menu">
    <ul>
      <li class="main-items"><a href="{{site.baseurl}}/">Home</a></li>
      <li class="main-items"><a href="goldrush.html">Gold Rush</a></li>
      <li class="main-items"><a href="california.html">California</a></li>
      <li class="main-items"><a href="africa.html">Africa</a></li>
    </ul>
  </nav>
  <div class="header-content">
    <div class="logo">
      <a href="{{site.baseurl}}/" class="logo-link"></a>
    </div>
  </div>
</header>
